# Testrapport

### Plan for testing
- Utføre en grundig gjennomgang av alle hovedfunksjonene, dokumenter hver funksjon, skrive inn test resultatene, inkludere relevante bilder og beskrive hvordan feilen skal utbedres

<table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Resultat</th>
      <th>Bilder</th>
      <th>Eventuelle utbedringer</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>Opprettelse av nye innlegg</td>
      <td>Skal kunne lage nye innlegg med tittel, forskjellig type innhold og kategorier</td>
      <td>Fungerer. Farging av tekst og emojier funger ikke, dette er pågrunn av stylingen som overskriver</td>
      <td> 
        <table>
          <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/acb438a5-a793-4f75-88a7-118c1f6c3aaf" width="60" /></th>
          <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/6625344b-fbda-4b62-a1a3-906f02d796a3" width="60" /></th>
        </table>
      </td>
      <td>Se på hvordan bare påvirke tekst som ikke har en farge styling. Sikkre at kun de ønskede svg-ene blir påvirket av transformen</td>
      <td>Fungerer med mindre avik(ikke fikset)</td>
    </tr>
    <tr>
      <td>Redigering av innlegg</td>
      <td>Skal kunne redigere innhold, titel og endre topics </td>
      <td>Alt fungerer som det skal. Editoren kan strekke seg over save og cancel knappene.</td>
      <td> 
        <table>
          <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/acb438a5-a793-4f75-88a7-118c1f6c3aaf" width="60" /></th>
          <th><img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/6625344b-fbda-4b62-a1a3-906f02d796a3" width="60" /></th>
        </table>
      </td>
      <td>Legg til en funksjon som forsikrer at save knappene er synlige</td>
      <td>Fungerer med mindre avik(ikke fikset)</td>
    </tr>
</table>
</details>
